@media screen and (max-width: 1130px) {

/*************
 *
 * Section 2
 *
 *************
*/
	article section:nth-child(2) div img {
		width: 24em;
	}

/*************
 *
 * Section 5
 *
 *************
*/
	article section:nth-child(5) > img {
		width: 300px;
	}
}

@media screen and (max-width: 960px) {
/*************
 *
 * Section 3
 *
 *************
*/
	article section:nth-child(3) > div > img {
		width: 22em;
	}
}

@media screen and (max-width: 921px) {
/*************
 *
 * Section 2
 *
 *************
*/
	article section:nth-child(2) > div {
		padding: 32px 64px;
	}
/*************
 *
 * Section 3
 *
 *************
*/
	article section:nth-child(3) > div {
		padding: 48px 73px;
		row-gap: 32px;
	}

/*************
 *
 * Section 4
 *
 *************
*/
	article section:nth-child(4) > div > div:last-child > .chat_frame_right > div {
		width: 180px;
	}

/*************
 *
 * Section 5
 *
 *************
*/
	article section:nth-child(5) {
		gap: 64px;
		padding: 0 64px;
	}

	article section:nth-child(5) > img {
		width: 320px;
	}
}

@media screen and (max-width: 904px) {
/*************
 *
 * Section 5
 *
 *************
*/
	article section:nth-child(5) {
		row-gap: 0px;
		padding: 0 64px;
	}
}

@media screen and (max-width: 838px) {
/*************
 *
 * Section 4
 *
 *************
*/
	article section:nth-child(4) > div > div:last-child > .chat_frame_right > div {
		width: 180px;
	}
}

@media screen and (max-width: 763px) {
/*************
 *
 * Section 4
 *
 *************
*/
	article section:nth-child(4) > div > div:last-child > .chat_frame_right > div {
		width: 249px;
	}
}

@media screen and (max-width: 768px) {
	article section:first-child div h1 {
		font-size: 3em;
	}

	article section:nth-child(2) > div > div {
		width: 400px;
	}

	article section:nth-child(2) > div {
		padding: 0;
	}

	article section:nth-child(2) div img {
		width: 18rem;
	}
	article section:nth-child(3) > div > img {
		width: 18rem;
	}

	article section:nth-child(3) > div {
		padding: 48px 0;
	}

	article section:nth-child(3) h3 {
		min-width: 322px;
	}

	body > article > section:nth-child(4) > div > div:nth-child(3) > div > div > h3 {
		font-size: 1.4rem;
	}

	article section:nth-child(4) > div > div:last-child > .chat_frame_right > div {
		width: 146px;
	}

	article section:nth-child(5) {
		padding: 0;
	}
}


@media screen and (max-width: 700px) {
/*************
 *
 * Section 1
 *
 *************
*/
	article section:first-child div {
		justify-content: start;
	}

	article section:first-child div div:first-child {
		margin: 152px 0 32px;
	}

	article section:first-child div h1 {
		font-size: 2.8em;
	}
/*************
 *
 * Section 4
 *
 *************
*/
	article section:nth-child(4) > div > div:last-child > .chat_frame_right > div {
		width: 200px;
	}
}

@media screen and (max-width: 425px) {
	article section:first-child div div:first-child {
		margin: 70px 0 20px;
	}

	article section:first-child div h1 {
		font-size: 3rem;
	}

	article section:first-child div h3 {
		font-size: 1.4rem;
	}

	article section:first-child div a {
		width: 260px;
		padding: 16px 0;
		margin: 50px 0 8px;
	}

	article section:first-child div img {
		width: 104px;
	}

	article section:nth-child(2) > div {
		padding: 64px 0;
	}

	article section:nth-child(2) > div > div {
		width: auto;
	}

	article section:nth-child(2) div div ul {
		line-height: 1.2;
	}

	article section:nth-child(3) > div {
		height: auto !important;
		padding: 128px 0;
	}

	article section:nth-child(4) > div {
		padding: 64px 32px;
	}
}




@media screen and (max-width: 422px) {

	h3 {
		font-size: 1.4em;
	}

/*************
 *
 * Section 1
 *
 *************
*/

	article section:first-child div div:first-child {
		margin: 124px 0 32px;
	}

	article section:first-child div h3 {
		margin: 0 16px;
	}

	article section:first-child div a {
		width: 240px;
	}

/*************
 *
 * Section 2
 *
 *************
*/

	article section:nth-child(2) > div {
		padding: 32px 0;
	}

	article section:nth-child(2) div img {
		width: 16em;
	}

/*************
 *
 * Section 3
 *
 *************
*/
	article section:nth-child(3) {
		min-height: calc(100vh - var(--header-height));
	}
	article section:nth-child(3) > div {
		padding: 128px 0;
	}

	article section:nth-child(3) > div > div {
		max-width: 72vw;
		min-width: auto;
		/*margin-left: 36px;*/
	}


	article section:nth-child(3) > div > img {
		width: 18em;
	}

	article section:nth-child(3) h3 {
		max-width: 100%;
		min-width: auto;
	}

/*************
 *
 * Section 4
 *
 *************
*/

	article section:nth-child(4) > div {
		padding: 0 0 32px;
	}

	article section:nth-child(4) > div > div:not(:first-child) {
		margin-left: 32px;
		margin-right: 16px;
	}

	.chat_frame_left {
		margin-left: 32px;
		margin-right: calc(3em + 32px);
	}

	article section:nth-child(4) > div > div:not(:first-child) .logo_icon {
		width: 2.4em;
	}

	article section:nth-child(4) > div > div:not(:first-child) .logo_icon {
		margin: 0 0 7px 20px;
	}
}

@media screen and (max-width: 375px) {
	article section:first-child div div:first-child {
		margin: 70px 0 20px;
	}

	article section:nth-child(3) > div {
		padding: 128px 0;
	}
	article section:first-child div h1 {
		font-size: 2.8rem;
	}
	article section:first-child div h3 {
		font-size: 1.2rem;
	}
	article section:nth-child(4) > div {
		padding: 64px 0 32px;
	}
}
